<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Business</legend>
   <p>
      <label for="name">Name</label><br>
      <input type="text" name="name" />
    </p>
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>

    <p>
      <label for="pictures">Picture(s)</label><br>
      <textarea id="description-text" name="picture" rows="2" /></textarea>
    </p>

    <p>
      <label for="description-text">Caption</label><br>
      <textarea id="description-text" name="Caption" rows="5" /></textarea>
    </p>

  </fieldset>
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Business</button>
  </p>
</form>
<a href="/">Back to Home</a>