<!-- views/reviews-index.handlebars -->
<h1>Real Reviews</h1>
<h2>Welcome to the home of restauranters, restaurant owners, and foodies</h2>
<body>Feel free to give reviews and sign you business up. We love finding good local eats!</body><br>
<a href="/businesses/new">New Business</a>
<a href="/reviews/new">New Review</a>
<a href="/businesses/show">Businesses</a>
<a href="/reviews/show">Reviews</a>

